---
apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
type: Opaque
data:
{% for key, val in files.items() -%}
  {{ key | indent(2, true) }}: {{ val }}
{% endfor -%}